/*$orange: #ffa600;
$grey:#f3f3f3;
$white: #fff;
$base-color:$orange ;
*/
*{
    background-color: #ffa600;
    font-family: "HelveticaNeue-Light";
}
.wrapper{
    text-align: center;
    /* border: 4px solid black; */
    border-radius: 20px;
    margin: 30px auto;
    /* background-color: rgb(129, 127, 255); */
    padding: 20px;
    /* color: rgb(223, 15, 77); */
    color: white;
    width:500px;

}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
  }
  
  #seconds, #tens{
    font-size:2em;
  }
    
button{
    border-radius: 10px;
    border: solid 1px white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
     outline: none;
    color: aliceblue;
}